.ms_background-black{
    background-color: black;
}

.ms_colorblack{
     color: black;
}

.ms_sonylogo{
    width: 100px;
}

.dropdown-toggle ul li {
    list-style: none;
}

.ms_fontsizeicon{
    font-size: 20px;
}

.ms_jumbo{
    height: 800px;
    min-height: 800px;
    background-image: url(/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.ms_jumbo2{
    height: 800px;
    min-height: 800px;
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}


.ms_jumbocontent img{
    width: 100%;
}

.box_ps_50{
    width: 70%;
}

.box{
    width: 100%;
    border-radius: 5%;
}
.box_ps{
    width: 100%;
    border-radius: 5%;
}
.box_ps2{
    width: 85%;
    opacity: 0.7;
}

.box_img_none{
    width: 100%;
}

.box_ps2:hover{
    opacity: 1;
}

.ms_text-gray{
    color: gray;
}
.ms_text-blue{
    color: 	#0072ce;
}

.dropdown-menu{
    position: fixed;
    width: 100%;
}
.ms_borderbottom{
    border-bottom: 3px solid #0072ce;
}

.ms_bg_gray{
    background-color:#BEBCBB;
}
.ms_button_gray{
    background-color:#ACB5B4;
    color: #0072ce;
}

.ms_button_white{
    background-color: white;
    color: black;
}

.ms_background_blue{
    background-color: #161C3B;
}

.ms_bg_colorblack{
    background-color: #1F1F1F;
}

.box_ps_20{
    width: 100%;
}

.ms_jumbo50{
    width: 50%;
}

.ms_bg_blue{
    background-color: #00439C;
}

.box_ps3{
    width: 13%;
}

.row ul li {
    list-style: none;
    padding: 3px;
}