.ms_background-black{
    background-color: black;
}

.ms_colorblack{
     color: black;
}

.ms_sonylogo{
    width: 5%;
}

.dropdown-toggle ul li {
    list-style: none;
}

.ms_fontsizeicon{
    font-size: 20px;
}